<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>コロンビア</title>
</head>
<body>

<div class="frame">
<iframe src="http://www13305u.sakura.ne.jp/user/1" name="1" width="320" height="320" scrolling="no" frameborder="0">
inline frame
</iframe>
<iframe src="http://www13305u.sakura.ne.jp/user/2" name="2" width="320" height="320" scrolling="no" frameborder="0">
inline frame
</iframe>
<br />
<iframe src="http://www13305u.sakura.ne.jp/user/3" name="3" width="320" height="320" scrolling="no" frameborder="0">
inline frame
</iframe>
<iframe src="http://www13305u.sakura.ne.jp/user/4" name="4" width="320" height="320" scrolling="no" frameborder="0">
inline frame
</iframe>
</div>

</body>
</html>

