<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>コロンビア</title>
  <link href="/css/aa.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="
 padding-left: 0px;
 padding-top: 5px;
 padding-bottom: 0px;
"> 
  <font class="FontForAA">
　 　 　 　　　　　　　 　 　　　　　　　　　　　　　　　　 ,.へ <br />
　　___ 　　　　　　　 　 　 　 　 　　　　　　　　　　　　ﾑ　　i <br />
　「 ﾋ_i〉　　　 　 　　　　　　 　 　　　　　　　　　　　　 ゝ　〈 <br />
　ﾄ　ノ 　　　　　　　　　　　　　　　　　　　　　　　　　　iニ(() <br />
　i 　{ 　 　　　　　　　 　　　＿＿＿_ 　 　　　　　　　　| 　ヽ <br />
　i　　i　　　 　　　　　　　／__,　 , ‐-＼ 　 　 　 　 　　i 　　} <br />
　|　　 i　　　　　　 　　／（●) 　 ( ● )＼　　　　　　 {､　 λ <br />
　ト－┤.　　　　　　／ 　 　（__人__） 　　　＼　　　 ,ノ　￣ ,! <br />
　i　　　ゝ､_ 　　　　|　　　　　´￣` 　 　　　　|　,. '´ﾊ　　　,! <br />
.　ヽ、 　　　｀`　､,__＼ 　　 　 　　　　　 　 ／"　＼ 　ヽ／ <br />
　　　＼ノ　ﾉ　　　ﾊ￣r/:::r―--―/::７　　 ﾉ　　　　／ <br />
　 　　 　 ヽ.　　　　　　ヽ::〈； . '::. :' |::/　　 /　　　,. " <br />
　　　　　　　 `ｰ ､　　　　＼ヽ::. ;::：|/　　　　　ｒ'" <br />
　　　　　／￣二二二二二二二二二二二二二二二二ヽ <br />
　　　　　| 答 |　　　　　コ　ロ　ン　ビ　ア　　　　　　　│| <br />
　　　　　＼＿二二二二二二二二二二二二二二二二ノ <br />
  </font>
</div>
</body>
</html>


