<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>コロンビア</title>
  <link href="/css/aa.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="
 padding-left: 0px;
 padding-top: 5px;
 padding-bottom: 0px;
"> 
  <font class="FontForAA">
　 　 　 　　　　　　　 　 　　　　　　　　　　　　　　　　 ,.へ <br />
　　___ 　　　　　　　 　 　 　 　 　　　　　　　　　　　　ﾑ　　i <br />
　「 ﾋ_i〉　　　 　 　　　　　　 　 　　　　　　　　　　　　 ゝ　〈 <br />
　ﾄ　ノ 　　　　　　　　　　　　　　　　　　　　　　　　　　iニ(() <br />
　i 　{ 　 　　　　　　　 　　　＿＿＿_ 　 　　　　　　　　| 　ヽ <br />
　i　　i　　　 　　　　　　　／__,　 , ‐-＼ 　 　 　 　 　　i 　　} <br />
　|　　 i　　　　　　 　　／（●) 　 ( ● )＼　　　　　　 {､　 λ <br />
　ト－┤.　　　　　　／ 　 　（__人__） 　　　＼　　　 ,ノ　￣ ,! <br />
　i　　　ゝ､_ 　　　　|　　　　　´￣` 　 　　　　|　,. '´ﾊ　　　,! <br />
.　ヽ、 　　　｀`　､,__＼ 　　 　 　　　　　 　 ／"　＼ 　ヽ／ <br />
　　　＼ノ　ﾉ　　　ﾊ￣r/:::r―--―/::７　　 ﾉ　　　　／ <br />
　 　　 　 ヽ.　　　　　　ヽ::〈； . '::. :' |::/　　 /　　　,. " <br />
　　　　　　　 `ｰ ､　　　　＼ヽ::. ;::：|/　　　　　ｒ'" <br />
　　　　　／￣二二二二二二二二二二二二二二二二ヽ <br />
　　　　　| 答 |　　　　　コ　ロ　ン　ビ　ア　　　　　　　│| <br />
　　　　　＼＿二二二二二二二二二二二二二二二二ノ <br />
  </font>
</div>
<div id="postform">
<p>Enter your ID.</p>
<form name="UserForm" method="POST" action="/">
    http://<%= fqdn %>/<input type="text" name="user" size="20" maxlength="20">
    <input type="submit" value="Go!">
</form>
<% if(error) { %>
<p><font color="red">※半角英数字でおｋ</font></p>
<% } %>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript">
$(function(){
  var socket = new Socket('index');
  if (window["WebSocket"]) {
    var conn = new WebSocket("ws://<%= fqdn %>:<%= port %>/");
    socket.setConnection(conn);
  } else {
    alert('This browser is not supported.');
  }
});
</script>
</body>
</html>


